<%- include header.ejs %>
<html>
<body>
<%- include guideHeader.ejs %>
<div class="container">
    <div class="col-lg-12" role="main">
        <h1 class="text-info text-center">博客使用说明</h1>
        <h4>大家好, 欢迎来到苏猫儿的博客: 猫猫的猫窝</h4>
        本博客后端使用nodejs技术. 架构上使用了传统的ExpressMVC架构, 前端使用Bootstrap+vue+axios.<br>
        风格基本参考各种各样的花里胡哨的网站以及乱七八糟的博客网站. 整体风格由于开发者的审美实在是一般, 所以并没有完全统一.

    </div>
</div>
<%- include pagefoot.ejs %>
</body>
</html>