<%- include header.ejs %>
<html>
<body>
<%- include guideHeader.ejs %>
<div class="container">
    <div class="col-lg-12" role="main">
        <h1>about</h1>
    </div>
</div>
<%- include pagefoot.ejs %>
</body>
</html>