<%- include header.ejs %>

<html>
<body>
<%- include guideHeader.ejs %>

<div class="container" role="main">
    <div class="row">
        <h3 class=" page-header">
            <a class="text-info" href="/administrator/uploadArticle">快速发布>></a>
        </h3>
        <h1 class="page-header text-info">
            用户账号管理
        </h1>
        <table class="table">
            <caption>
                由于后台功能尚未完善, 具体的操作请到数据库里去整.
            </caption>
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>上次登录时间</th>
                <th>邀请人</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <h1 class="page-header text-info">
            文章管理
        </h1>
        <table class="table">
            <caption>
                由于后台功能尚未完善, 具体的操作请到数据库里去整.
                暂时先整了一个关闭显示的功能.
            </caption>
            <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>发布时间</th>
                <th>状态</th>
                <th>阅读次数</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <h1 class="page-header text-info">
            评论管理
        </h1>
        <table class="table">
            <caption>
                由于后台功能尚未完善, 具体的操作请到数据库里去整.
            </caption>
            <thead>
            <tr>
                <th>id</th>
                <th>对应的文章</th>
                <th>对应的文章的id</th>
                <th>评论人</th>
                <th>具体内容</th>
                <th>评论时间</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<%- include pagefoot.ejs %>
</body>
</html>