<%- include header.ejs %>

<html>
<body>
<%- include guideHeader.ejs %>

<div class="container" role="main">
    <div class="row">
        <h3 class=" page-header">
            <a class="text-info" href="/administrator/uploadArticle">快速发布>></a>
        </h3>
        <h1 class="page-header text-info">
            用户账号管理
        </h1>
        <h1 class="page-header text-info">
            文章管理
        </h1>
        <h1 class="page-header text-info">
            评论管理
        </h1>
    </div>
</div>

<%- include pagefoot.ejs %>
</body>
</html>