<%- include header.ejs %>
<% var baseurl = "http://localhost:3000/" %>
<html>
<body>
<%- include guideHeader.ejs %>

<div class="container" role="main" id="article-list-main">
    <div class="row clearfix">
        <h1>猫猫都写了啥呢?</h1>
        <div>
            <table class="table table-striped">
                <tbody>
                <tr v-for="article in curLoadArticleList">
                    <td class="col-md-6">
                        <h2><a v-bind:href="'/article/'+article.id+'/detail/'">
                                {{ article.title }}</a></h2>
                    </td>
                    <td>
                        <img src="<%= baseurl %>/images/serena.jpg" alt="好耶" height="100" width="100">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row clearfix">
        <ul class="pagination">
            <li>
                <a href="#">Prev</a>
            </li>
            <li v-bind:class="{'active':(curActiveIndex === pageIndex)}" v-for="pageIndex in pageCount">
                <a href="#">{{pageIndex}}</a>
            </li>
            <li>
                <a href="#">Next</a>
            </li>
        </ul>
    </div>
</div>

<script>
    var vm_article_list_main = new Vue({
        el: "#article-list-main",
        data: {
            pageCount: null,
            curActiveIndex: 1,
            curLoadArticleList: null
        },
        async mounted() {
            var pageCountRes = await axios.get('/article/pageCount');
            this.pageCount = pageCountRes.data;
            var articleListRes = await axios.get('/article/articleList', {params: {page: 1}});
            this.curLoadArticleList = articleListRes.data.articleList;
            this.curActiveIndex = 1;
        },
        methods: {}
    })
</script>

<%- include pagefoot.ejs %>
</body>
</html>
