<%- include header.ejs %>
<html>
<body>
<%- include guideHeader.ejs %>
<div class="container" id="forget-password-container">
    <div class="row clearfix">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="forget-password">username</label>
                <input id="forget-password" class="form-control" type="text" placeholder="还记得自己的名字吗?"
                       v-model="usernameForget">
            </div>
            <div class="form-group">
                <label class="form-group" for="forget-invite-code">invite code</label>
                <input id="forget-invite-code" class="form-control" type="password" placeholder="猫猫给你的邀请码"
                       v-model="inviteCodeForget">
            </div>
            <div class="form-group">
                <label for="forget-password" id="label-password">password</label>
                <input id="forget-password" type="password" class="form-control"
                       placeholder="密码呢?"
                       v-model="passwordForget">
            </div>
            <div class="form-group">
                <label for="forget-repeat-password" id="label-password">repeat
                    password</label>
                <input id="forget-repeat-password" type="password" class="form-control"
                       placeholder="再输一遍啦~" v-model="passwordRepeatForget">
            </div>
            <p>{{passwordResetMessage}}</p>
            <div class="col-md-5">
                <a href="mailto:sumover@foxmail.com" type="button" class="btn btn-info">去给猫猫写一封邀请码的邮件~</a>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" @click="passwordReset">重置密码</button>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="http://localhost:3000/images/猫猫不流泪啤酒喝到醉.jpg" alt="猫猫不流泪啤酒喝到醉"/>
        </div>
    </div>
</div>
<script>
    var vm_forget_password_form = new Vue({
        el: "#forget-password-container",
        data: {
            usernameForget: null,
            passwordForget: null,
            passwordRepeatForget: null,
            inviteCodeForget: null,
            passwordResetMessage: null
        },
        async mounted() {
        },
        methods: {
            passwordReset: async () => {
                if (vm_forget_password_form.usernameForget === "" ||
                    vm_forget_password_form.usernameForget === null) {
                    vm_guideHeader.passwordResetMessage = "用户名不能为空!";
                    return
                }
                if (vm_forget_password_form.inviteCodeForget === "" ||
                    vm_forget_password_form.inviteCodeForget === null) {
                    vm_forget_password_form.passwordResetMessage = "邀请码呢?";
                    return
                }
                if (vm_forget_password_form.passwordForget === "" ||
                    vm_forget_password_form.passwordForget === null) {
                    vm_guideHeader.passwordResetMessage = "密码不能为空!";
                    return
                }
                if (vm_forget_password_form.passwordRepeatForget === "" ||
                    vm_forget_password_form.passwordRepeatForget === null) {
                    vm_guideHeader.passwordResetMessage = "再输一遍咯";
                    return
                }
                if (vm_forget_password_form.passwordForget !== vm_forget_password_form.passwordRepeatForget) {
                    vm_forget_password_form.passwordResetMessage = "两次输入的密码似乎不一样..";
                    return
                }
                let md5Password = b64_md5(vm_guideHeader.registerPassword);
                var forgetPasswordRes = await axios.post('/users/forgetpassword', {
                    username: vm_forget_password_form.usernameForget,
                    password: md5Password,
                    inviteCode: inviteCodeForget
                });
                if (forgetPasswordRes.data.message === "reset error") {
                    vm_forget_password_form.passwordResetMessage = "密码重置功能暂时不可用..";
                }
            }
        }
    });
</script>
</body>
</html>

<%- include pagefoot.ejs %>