<%#导航栏 %>

<div class="row clearfix" id="guide-header-div">
    <div class="col-md-12">
        <nav class="navbar navbar-default  navbar-static-top bs-home-nav" role="navigation" id="guide-navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="/">猫猫的猫窝</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="<%= (typeof (isIndex) !== "undefined") ? "active" : "" %>">
                        <a href="/">博客首页</a>
                    </li>
                    <li class="<%= (typeof (isArticleList) !== "undefined" ? "active" : "") %>">
                        <a class="" href="/article">猫猫写了啥呢?</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" method="get" action="/search">
                    <div class="form-group">
                        <label for="search-text"></label>
                        <input id="search-text" type="text" class="form-control" name="q"
                               placeholder="Tag/文章标题关键词..."/>
                    </div>
                    <button type="submit" class="btn btn-primary">猫猫搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <template v-if="!loginStatus">
                        <li>
                            <a id="modal-288059" href="#modal-container-288059" data-toggle="modal">login</a>
                        </li>
                    </template>
                    <template v-else>
                        <li>
                            <a href="#">{{ loginUsername }}</a>
                        </li>
                    </template>
                    <li class="<%= typeof (isAbout) !== "undefined" ? "active" : "" %>">
                        <a class="navbar-brand" href="/about">about</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ovo<strong
                                    class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <template v-if="loginStatus">
                                <li>
                                    <a href="#modal-container-invite-code" data-toggle="modal">生成邀请码</a>
                                </li>
                            </template>
                            <template v-else>
                                <li>
                                    <a>加入猫窝</a>
                                </li>
                            </template>
                            <li class="divider">
                            <li>
                                <template v-if="loginStatus">
                                    <a href="/users/logout">退出猫窝</a>
                                </template>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="modal fade" id="modal-container-288059" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">
                            猫猫需要你登录或者注册
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="tabbable" id="tabs-781000">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#pane-login" data-toggle="tab">猫猫登录</a>
                                </li>
                                <li>
                                    <a href="#pane-register" data-toggle="tab">注册成为猫窝的猫猫吧!</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="pane-login">
                                    <br>
                                    <form class="form">
                                        <div class="form-group">
                                            <label for="login-username" id="label-username">username</label>
                                            <input id="login-username" type="text" class="form-control"
                                                   placeholder="告诉猫猫你的名字!" v-model="loginUsername">
                                        </div>
                                        <div class="form-group">
                                            <label for="login-password" id="label-password">password</label>
                                            <input id="login-password" type="password" class="form-control"
                                                   placeholder="密码呢?" v-model="loginPassword">
                                        </div>
                                        <div class="modal-footer">
                                            <span class="text text-danger text-left col-lg-12">{{ loginMessage }}</span>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                            </button>
                                            <a href="/users/forgetpassword" type="button"
                                               class="btn btn-info">你居然忘记了!</a>
                                            <button type="button" class="btn btn-primary" @click="userLogin">猫猫登录
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="pane-register">
                                    <br>
                                    <form class="form">
                                        <div class="form-group">
                                            <label for="register-username" id="label-username">username</label>
                                            <input id="register-username" type="text" class="form-control"
                                                   placeholder="告诉猫猫你的名字!" v-model="registerUsername">
                                        </div>
                                        <div class="form-group">
                                            <label for="register-password" id="label-password">password</label>
                                            <input id="register-password" type="password" class="form-control"
                                                   placeholder="密码呢?" v-model="registerPassword">
                                        </div>
                                        <div class="form-group">
                                            <label for="register-repeat-password" id="label-password">repeat
                                                password</label>
                                            <input id="register-repeat-password" type="password"
                                                   class="form-control"
                                                   placeholder="再输一遍啦~" v-model="registerPasswordRepeat">
                                        </div>
                                        <div class="form-group">
                                            <label for="invite-code" id="label-password">苏猫猫给你发的邀请码</label>
                                            <input id="invite-code" type="password" class="form-control"
                                                   placeholder="每天限量的邀请码~" v-model="inviteCode">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                            </button>
                                            <a href="mailto:sumover@foxmail.com" type="button" class="btn btn-info"
                                               @click="userRegister">去给猫猫写一封邀请码的邮件~</a>
                                            <button type="button" class="btn btn-primary">猫猫注册</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template v-if="loginStatus">
            <div class="modal fade" id="modal-container-invite-code" role="dialog"
                 aria-labelledby="invite-code-modal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">
                                生成邀请码
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="jumbotron">
                                <ul>

                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">生成邀请码</button>
                        </div>
                    </div>
                </div>
                <script>
                    var vm_inviteCodeGeneratorModal = new Vue({
                        el: "#modal-container-invite-code",
                        data: {
                            inviteCode: []
                        },
                        async mounted() {
                            axios.get("/"
                        }
                    });
                </script>
            </div>
        </template>
    </div>

</div>
<script>
    var vm_guideHeader = new Vue({
        el: "#guide-header-div",
        data: {
            loginStatus: false,
            loginUsername: null,
            loginPassword: null,
            loginMessage: null,
            registerUsername: null,
            registerPassword: null,
            registerPasswordRepeat: null,
            inviteCode: null,
            registerMessage: null
        },
        async mounted() {
            var res = await axios.get('http://localhost:3000/users/loginStatus');
            if (res.data.message === "user login") {
                this.loginStatus = true;
                this.loginUsername = res.data.username;
            } else {
                this.loginStatus = false;
            }
        },
        methods: {
            userStatus: async () => {
                return vm_guideHeader.loginStatus;
            },
            userLogin: async () => {
                if (vm_guideHeader.loginUsername === null
                    || vm_guideHeader.loginUsername.length === 0) {
                    vm_guideHeader.loginMessage = "用户名不能为空!";
                    return
                }
                if (vm_guideHeader.loginPassword === null
                    || vm_guideHeader.loginPassword === 0) {
                    vm_guideHeader.loginMessage = "密码不能为空!";
                    return
                }
                var md5password = b64_md5(vm_guideHeader.loginPassword);
                var loginRes = await axios.post('http://localhost:3000/users/login', {
                    username: vm_guideHeader.loginUsername,
                    password: md5password
                });
                if (loginRes.data.message === "user not exist") {
                    vm_guideHeader.loginMessage = "这个猫猫不存在哦!";
                    return
                }
                if (loginRes.data.message === "password error") {
                    vm_guideHeader.loginMessage = "密码输错了哦";
                    return
                }
                if (loginRes.data.message === "login success") {
                    location.reload();
                }
            },
            userRegister: async () => {
                if (vm_guideHeader.registerUsername === null ||
                    vm_guideHeader.registerUsername.length === 0) {
                    vm_guideHeader.registerMessage = "用户名不能为空!";
                    return
                } else if (vm_guideHeader.registerPassword === null ||
                    vm_guideHeader.registerPassword.length === 0) {
                    vm_guideHeader.registerMessage = "密码呢?";
                    return
                } else if (vm_guideHeader.registerPasswordRepeat === null ||
                    vm_guideHeader.registerPasswordRepeat.length === 0) {
                    vm_guideHeader.registerMessage = "再输一遍咯";
                    return
                } else if (vm_guideHeader.registerPassword !== vm_guideHeader.registerPasswordRepeat) {
                    vm_guideHeader.registerMessage = "两次输入的密码似乎不一样..";
                    return
                } else if (vm_guideHeader.inviteCode === null ||
                    vm_guideHeader.inviteCode.length === 0) {
                    vm_guideHeader.registerMessage = "猫猫给你的邀请码呢?";
                    return
                }
                let md5Password = b64_md5(vm_guideHeader.registerPassword);
                var registerRes = await axios.post("/users/register", {
                    username: vm_guideHeader.registerUsername,
                    password: md5Password,
                    inviteCode: vm_guideHeader.inviteCode
                });
                if (registerRes.data.message === "user already exist") ;
                if (registerRes.data.message === "invite code error") ;
                if (registerRes.data.message === "register success") {
                    location.reload();
                }
            }
        }

    });
</script>