<%- include header.ejs %>
<html>
<body>
<%- include guideHeader.ejs %>
<div class="container" role="main">
    <h1>不知道放啥不如先放个<strong>index</strong>吧</h1>
    <p>我先在这放个猫猫</p>
    <img src="/images/serena.jpg" height="300" wight="300"/>
</div>
<%- include pagefoot.ejs %>
</body>
</html>
