<%- include guideHeader.ejs %>
<br><br><br>
<div class="container" role="main">
    <h1>不知道放啥不如先放个<strong>index</strong>吧</h1>
    <p>我先在这放个猫猫</p>
    <img src="/images/serena.jpg" height="100" wight="100"/>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<%- include pagefoot.ejs %>