<%- include header.ejs %>
<html>
<body>
<%- include guideHeader.ejs %>
<div class="container" role="main">

    <h1 class="text-primary text-center">猫猫博客alpha版</h1>
    <h3>好耶!</h3>
    <p>我先在这放个猫猫</p>
    <img src="/images/serena.jpg" height="300" wight="300"/>

    <iframe src="//player.bilibili.com/player.html?aid=25470745&bvid=BV1Es411L7Jn&cid=43333790&page=1" scrolling="no"
            border="0" frameborder="no" framespacing="0" allowfullscreen="true"
            width="854" height="480"
    ></iframe>

</div>
<%- include pagefoot.ejs %>
</body>
</html>
